.add-points-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
  color: #333;
}

.add-points-container p {
  margin-top: 20px;
  padding: 10px 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.add-points-container p.success {
  background-color: #28a745;
  color: #fff;
}

.add-points-container p.error {
  background-color: #dc3545;
  color: #fff;
}